.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
README.html
src/Makevars
src/*.o
src/*.so
src/*.dll
src/*.dylib
*.Rcheck/
*.tar.gz
paper_simulations/*.log
paper_simulations/*.csv
paper_simulations/*.pdf
paper_simulations/*.png
